<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to SpotifyAuth App</title>
</head>
<body>
    <h1>Welcome to the App</h1>
    <p>Click the button below to authorize with Spotify:</p>
    <a href="{% url 'authorize_spotify' %}"><button>Authorize with Spotify</button></a>

</body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in with Google</title>
</head>
<body>
    <p>Click below to sign in with Google:</p>
    <a href="{% url 'social:begin' 'google-oauth2' %}"><button>Sign in with Google</button></a>
</body>
</html>
